doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    -var a = 23423
    h1 Pug - node template engine
    div(class='div box' click=`fdsa${a}`) sdfsd