containW = 900px


body
  background-color: #f5f5d5
  font-family: Georgia, serif
  letter-spacing: -0.01em
  word-spacing: 0.2em
  line-height: 1.8em
  font-size: 62.5%
  color: #111111
  width 98%
  .wrap
    width containW
    margin: 0 auto
    header
      @import './nav.styl'
    @import './contain.styl'
    footer
      @import './footer.styl'
